.grid {
    height: 360px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
}

.grid div {
    height: 60px;
    width: 60px;
    background: red;
}

.player-one {
    background-color: blue;
    border-radius: 50%;
}

.player-two {
    background-color: red;
    border-radius: 50%;
}