.grid {
    height: 370px;
    width: 434px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
}

.grid div {
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

.player-one {
    background-color: blueviolet;
    border-radius: 50%;
    border: 1px solid black;
}

.player-two {
    background-color: royalblue;
    border-radius: 50%;
    border: 1px solid black;
}